@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  --navbar-h: 5rem;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}
@theme {
  --font-montserrat: "Montserrat-Regular", sans-serif;
  --shadow-box:0 10px 28px 0 hsla(210,8%,54%,.2)
}
html,
body {
  width: 100%;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
progress{
  width: 100%;
  height: 1.6rem;
  border-radius: 20px;
  background-color:white;
}
  
progress::-webkit-progress-bar {
  background-color: #ECF9FE;
  
}
progress::-webkit-progress-value {
  background-color: #FF5154; 
  border-radius: 20px;
}
progress[value='62']::-webkit-progress-value {
  background-color: #FFBF53; 
  border-radius: 20px;
} 
progress[value='50']::-webkit-progress-value {
  background-color: #F963A0; 
  border-radius: 20px;
}  

 
   
@layer components{
  main{
    @apply w-full overflow-x-hidden
  }
  nav{
    @apply fixed w-full z-30;
    div{
      @apply flex md:flex-row md:justify-between md:items-center container mx-auto font-montserrat;
    }
      
        img{
          @apply md:w-[16%]
        }
      
      ul{
        @apply flex md:justify-between md:gap-10 text-nowrap md:items-center
      }
      li{
        @apply text-[#76818B] hover:border-b-1 hover:border-[#76818B] md:transition-all md:ease-in-out md:duration-100
      }
     
      li:last-of-type{
        @apply bg-[#15C890] md:px-3 md:py-2 md:rounded-lg hover:px-3 hover:py-2 md:text-white font-bold hover:border hover:border-[#76818b] hover:bg-white hover:text-[#76818B] md:transition-all md:ease-in-out md:duration-200
      }
    }
  #Hero{
    @apply w-full min-h-dvh z-20 relative container mx-auto px-10 ;
    .body{
      @apply  md:h-full md:w-full flex md:flex-row md:justify-between md:items-center md:absolute md:top-20 md:left-5
    }
    .left-section{
      @apply md:w-[40%] flex md:flex-col md:items-start ;
      h1{
        @apply md:w-[76%] text-[2.4rem] font-montserrat leading-relaxed text-[#344554] md:mt-2;
        span{
          @apply font-bold
        }
      }
      h2{
        @apply text-[#344554] text-[1.2rem]
      }
    }
    .right-section{
      @apply md:w-[60%] flex md:justify-end;
      img{
        @apply md:w-[90%]
      }
    }
    .feature-card{
      @apply w-full md:h-full md:absolute md:top-[120vh] flex md:justify-between  md:left-5
    }
    .managment{
      @apply w-full md:h-[40%] flex md:justify-center md:items-center md:absolute md:top-[170vh] md:left-5;
      h1{
        @apply md:w-[38%] font-montserrat text-[#344554] md:text-[3rem];
        span:first-of-type{
        @apply  md:w-full  md:leading-relaxed px-8 font-light;
        }
        span{
          @apply font-bold
        }
      }
    }
    .steps{
      @apply md:absolute w-full md:top-[200vh] md:h-screen flex md:flex-row md:justify-between md:items-center md:left-5;
    } 
    .financial-habits{
      @apply  absolute md:top-[320vh] w-full h-screen md:flex md:items-center md:justify-between
    }
    .estimates{
      @apply  absolute md:top-[400vh] w-full h-screen md:flex  md:items-center md:justify-between
    }
    .features{
       @apply  absolute md:top-[500vh] w-full md:h-[50%] md:flex md:flex-col md:items-center md:gap-10;
       h1{
        @apply text-4xl font-montserrat tracking-wide text-[#344554];
        span{
          @apply font-bold
        }
       }
    }

  }
}