@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  --navbar-h: 5rem;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}
@theme {
  --font-montserrat: "Montserrat-Regular", sans-serif;
}
html,
body {
  width: 100%;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* @layer components {
  header {
    @apply w-full fixed z-3;
    height: var(--navbar-h);
    div:nth-of-type(1) {
      @apply md:flex md:flex-row md:items-center md:justify-between container mx-auto;
    }
    img {
      @apply w-[8rem] cursor-pointer;
    }
    nav {
      @apply bg-red-400 md:flex md:flex-row md:items-center md:justify-between md:gap-10 font-montserrat text-[1.2rem];
      a {
        @apply text-nowrap text-[#344554];
      }
      a:last-of-type {
        @apply md:border md:px-4 md:py-1 md:rounded-md md:bg-[#15C890] text-white hover:bg-white hover:text-[#15C890] transition-all ease-in duration-200;
      }
    }
    
  }

  #Hero{
    @apply md:w-full mt-20;
    div{
      @apply md:w-full md:h-screen container mx-auto flex md:justify-between;
      div{
        @apply flex md:flex-col md:justify-start md:w-[10%];
        .hero-heading{
          @apply md:text-5xl text-[#344554] md:w-full;
          span{
            @apply md:font-bold
          } 
        }
        h2{
          @apply text-[#344554]
        }
      }
       div{
      @apply md:w-[60%];
      img{
        @apply md:w-full
      }
    }

    }
   
  } */
  /* #Hero {
    @apply md:w-full md:min-h-screen md:container md:mx-auto md:relative;
    padding-top: var(--navbar-h);
    div {
      @apply md:w-full md:h-screen flex md:justify-between md:absolute md:top-[18%] border-4;
      div {
        @apply md:w-[30%] flex md:flex-col md:justify-start;
        h1 {
          @apply text-5xl md:w-[60%] text-[#344554] font-montserrat leading-relaxed;
          span {
            @apply font-bold;
          }
        }
        h2 {
          @apply font-montserrat text-[#344554] text-xl;
        }
      }
      div {
        @apply md:w-[50%];
        img {
          @apply md:w-screen md:h-[84%] md:-translate-y-[18%] md:translate-x-[70%];
        }
      }
     
    }
    .managment{
      @apply md:absolute w-screen md:top-[115vh];
      div{
        @apply w-screen md:flex md:justify-center md:items-center;
      h1{
        @apply md:w-[40%] text-6xl font-montserrat md:-translate-x-[10%];
        span{
          @apply md:translate-x-[86%]
        }
      }
    }
    
  }
  
  } */
/* } */
@layer components{
  main{
    @apply w-full overflow-x-hidden
  }
  nav{
    @apply fixed w-full z-30;
    div{
      @apply flex md:flex-row md:justify-between md:items-center container mx-auto font-montserrat;
    }
      
        img{
          @apply md:w-[16%]
        }
      
      ul{
        @apply flex md:justify-between md:gap-10 text-nowrap md:items-center
      }
      li{
        @apply text-[#76818B] hover:border-b-1 hover:border-[#76818B] md:transition-all md:ease-in-out md:duration-100
      }
     
      li:last-of-type{
        @apply bg-[#15C890] md:px-3 md:py-2 md:rounded-lg hover:px-3 hover:py-2 md:text-white font-bold hover:border hover:border-[#76818b] hover:bg-white hover:text-[#76818B] md:transition-all md:ease-in-out md:duration-200
      }
    }
  #Hero{
    @apply w-full min-h-dvh z-20 relative container mx-auto ;
    .body{
      @apply  md:h-full md:w-full flex md:flex-row md:justify-between md:items-center md:absolute md:top-20 md:left-5
    }
    .left-section{
      @apply md:w-[40%] flex md:flex-col md:items-start ;
      h1{
        @apply md:w-[76%] text-[2.4rem] font-montserrat leading-relaxed text-[#344554];
        span{
          @apply font-bold
        }
      }
      h2{
        @apply text-[#344554] text-[1.2rem]
      }
    }
    .right-section{
      @apply md:w-[60%] flex md:justify-end;
      img{
        @apply md:w-[90%]
      }
    }
    .feature-card{
      @apply w-full md:h-full md:absolute md:top-[120vh] flex md:justify-between  md:left-5
    }
    .managment{
      @apply w-full md:h-[40%] flex md:justify-center md:items-center md:absolute md:top-[170vh] md:left-5;
      h1{
        @apply md:w-[38%] font-montserrat text-[#344554] md:text-[3rem];
        span:first-of-type{
        @apply  md:w-full  md:leading-relaxed px-8 font-light;
        }
        span{
          @apply font-bold
        }
      }
    }
    .steps{
      @apply md:absolute w-full md:top-[200vh] md:h-screen flex md:flex-row md:justify-between md:items-center md:left-5;
    }
  }
}